{% extends 'header.html' %}

{% block content %}
<div class="member_title">
    <h2>회원 갱신</h2>
</div>
<div class="member_detail">
<form method="post" action="/member/renewal/{{member.number}}" name="books_form" id="member_form">
    <table border="0" cellpadding="0" class="member_form_table">
        <tr>
            <th>이름</th>
            <td><span>{{member.name}}</span></td>
        </tr>
        <tr>
            <th>갱신날짜</th>
            <td><input type="date" name="renewal_date" id="renewal_date" required pattern="\d{4}-\d{2}" class="member_textbox"></td>
        </tr>
    </table>
    <div style="text-align: center;margin-top:2rem;">
        <button type="button" id="books_form_submit" value="저장">저장</button>
        <button type="button" id="books_list" value="목록">목록</button>
    </div>
</form>
</div>
{% endblock %}

{% block script %}
<script>
    document.getElementById("renewal_date").addEventListener('change',function(){
        const start_date = document.getElementById("renewal_date").valueAsDate;
        document.getElementById("renewal_date").valueAsDate.getFullYear();
    });

     document.getElementById("books_form_submit").addEventListener('click', function(){
            document.books_form.submit();
    });
</script>
{% endblock %}