{% extends 'header.html' %}

{% block content %}
<div class="member_title">
    <h2>회원관리</h2>
    <button type="button" id="premium_button" value="프리미엄" class="grade_button">프리미엄</button>
    <button type="button" id="club_button" value="북클럽" class="grade_button">북클럽</button>
    <button type="button" id="seminar_button" value="세미나" class="grade_button">세미나</button>
    <button type="button" id="end_button" value="종료" class="grade_button">종료</button>

</div>
<div class="member_table">
    <table colspacing="0" border="0" align="center">
        <tr background-color="#00658c" align="center">
            <td width="5%">이름</td>
            <td width="10%">기업명</td>
            <td width="5%">등급</td>
            <td width="5%">시작일자</td>
            <td width="5%">종료일자</td>
            <td width="5%">연락처</td>
            <td width="5%">지역</td>
            <td width="5%">웰컴키트 발송여부</td>
            <td width="3%">결제여부</td>
            <td width="3%">결제금액</td>
            <td width="5%">수정</td>
            <td width="3%">갱신</td>
        </tr>
        {% for Members in Member %}
        <tr style="background-color:#fff;color:#000;" >
            <td width="5%">{{Members.name}}</td>
            <td width="10%">{{Members.company}}</td>
            <td width="5%">{{Members.grade}}</td>
            <td width="5%">{{Members.start_date}}</td>
            <td width="5%">{{Members.end_date}}</td>
            <td width="5%">{{Members.phone}}</td>
            <td width="5%">{{Members.city}}</td>
            <td width="5%">
                {% if Members.is_wellcome == 0%}
                미발송
                {% else %}
                발송
                {% endif %}
            </td>
            <td width="3%">
                {% if Members.is_pay == 0 %}
                미결제
                {% else %}
                결제
                {% endif %}
            </td>
            <td width="3%">{{Members.pay_cost}}</td>
            <td width="5%">
                <button type="button" id="modify_button" class="modify_button" onClick="location.href='/member/detail/{{Members.number}}'">수정</button>
            </td>
            <td width="3%">
                <button type="button" id="renewal_button" class="renewal_button" onClick="location.href='/member/renewal/{{Members.number}}'">갱신</button>
            </td>
        </tr>
        {% endfor %}
        
    </table>
    <div class="member_title">
        <span>
            <span class="search_class">이름검색</span>
            <input type="text" name="search_name" id="search_name" placeholder="이름을 입력하세요." onKeyDown="pressEnter()"/>
            <button type="button" id="search_button" value="검색">검색</button>
        </span>
    </div>
    <div class="member_page">
        {% for i in range(1, page) %} 
        <a href="/member/list/{{i}}">
            {{i}}
        </a>
        {% endfor %}
    </div>
    
</div>
{% endblock %}

{% block script %}
<script>
    document.getElementById('premium_button').addEventListener('click', function(){
        window.location.href="/member/list/1/프리미엄";
    });

    document.getElementById('club_button').addEventListener('click', function(){
        window.location.href="/member/list/1/북클럽";
    });

    document.getElementById('seminar_button').addEventListener('click', function(){
        window.location.href="/member/list/1/세미나";
    });

    document.getElementById('end_button').addEventListener('click', function(){
        window.location.href="/member/list/1/종료";
    });

    function pressEnter() {
        if(window.event.keyCode == 13)
        {
            document.getElementById('search_button').click();
        }
    }

    document.getElementById('search_button').addEventListener('click', function(e){
        window.location.href="/member/list/1/"+ document.getElementById('search_name').value;
    })
</script>
{% endblock %}